* {
  margin: 0;
}

nav {
  background-color: #f7f7f7;
  padding: 0.5rem;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  color: #222;
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown {
  position: relative;
  padding-right: 0.5rem;
}

.dropdown-menu {
  display: none;
}

.dropdown-open .dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  min-width: 100%;
}

.dropdown-menu li {
  display: block;
  color: #222;
  margin-left: 10px;
}
.dropdown-menu li:hover {
  background-color: #f7f7f7;
}
