* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  padding: 20px;
}
.top {
  border: 1px solid rgb(68, 68, 68);
  border-radius: 3px;
  border-bottom: none;
  display: flex;
  flex-direction: row;
}
.top div {
  padding: 10px;
  border-right: 1px solid rgb(68, 68, 68);
  cursor: pointer;
}
.bottom {
  font-size: 13px;
  padding: 10px;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 3px;
  min-width: 30%;
}
